# 1. Exercises (Data Acquisition)

### 1 - 3. Set up repo and .gitignore

#### 1. Make a new repo called classification-exercises on both GitHub and within your codeup-data-science directory. This will be where you do your work for this module.

#### 2. Inside of your local classification-exercises repo, create a file named .gitignore with the following contents:

```
env.py
.DS_Store
.ipynb_checkpoints/
__pycache__
*.csv
```

#### Add and commit your .gitignore file before moving forward.

#### 3. Now that you are 100% sure that your .gitignore file lists env.py, create or copy your env.py file inside of classification-exercises. Running git status should show that git is ignoring this file.

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [1]:
import pandas as pd
from pydataset import data

df_iris = data('iris')

In [2]:
# 4a. print the first 3 rows

print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [3]:
# 4b. print the number of rows and columns (shape)

print(df_iris.shape)

(150, 5)

In [4]:
# 4c. print the column names

print(df_iris.columns)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [5]:
# 4d. print the data type of each column

print(df_iris.dtypes)

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [6]:
# 4e. print the summary statistics for each of the numeric variables

print(df_iris.describe())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet into a dataframe, df_google.

In [7]:
url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

In [8]:
# 5a. print the first 3 rows

print(df_google.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [9]:
# 5b. print the number of rows and columns

print(df_google.shape)

(891, 12)

In [10]:
#5c. print the column names

print(df_google.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
# 5d. print the data type of each column

print(df_google.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
# 5e. print the summary statistics for each of the numeric variables

print(df_google.describe)

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                    Name     Sex   Age  SibSp  \
0                                Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                                 Heikkinen, Miss. Laina  female  26.0      0
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                               Allen, Mr. William Henry    male  35.0      0
..                                                   ...     ...   ...    ...
886                                Montvila, Rev. Juozas    male  27.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
888             Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                                Behr, Mr. Karl Howell    male  26.0      0
890                                  Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [13]:
# 5f. print the unique values for each of your categorical variables

print(df_google.describe(include='object'))

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [14]:
df_excel = pd.read_excel('train.xlsx')

In [15]:
# 6a. assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)

In [16]:
# 6b. print the number of rows of your original dataframe

print(df_excel.shape[0])

891

In [17]:
# 6c. print the first 5 column names

print(df_excel.columns[:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [18]:
# 6d. print the column names that have a data type of object

print(df_excel.select_dtypes(include='object').columns)

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [19]:
# 6e. compute the range for each of the numeric variables.

print(df_excel.describe(include='object'))

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

### 7. Make a new python module, acquire.py to hold the following data aquisition functions:

In [20]:
import acquire as a

# Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. 
# Obtain your data from the Codeup Data Science Database.
titanic = a.get_titanic_data()

# Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. 
# The returned data frame should include the actual name of the species in addition to the species_ids. 
# Obtain your data from the Codeup Data Science Database.
iris = a.get_iris_data()

# Make a function named get_telco_data that returns the data from the telco_churn database in SQL. 
# In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with
# the customers table, so that the resulting dataframe contains all the contract, payment, and 
# internet service options. Obtain your data from the Codeup Data Science Database.
telco = a.get_telco_data()

# Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, 
# now it's time to add caching to them. To do this, edit the beginning of the function to check 
# for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. 
# If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe,
# then write the dataframe to a .csv file with the appropriate name.

# 2. Exercises (Data Preparation)

### Directions

- The end product of this exercise should be the specified functions in a python script named prepare.py. 

- Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

- This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

In [21]:
from env import db_url
import acquire as a
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

### Using the Iris Data:

In [22]:
# 1. Use the function defined in acquire.py to load the iris data.

iris = a.get_iris_data()

iris.head(1)

,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,setosa,1,5.1,3.5,1.4,0.2,1

In [23]:
# 2. Drop the species_id and measurement_id columns.

iris = iris.drop(columns=['species_id', 'measurement_id'])

iris.head(1)

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2

In [24]:
# 3. Rename the species_name column to just species.

iris = iris.rename(columns={'species_name': 'species'})

iris.head(1)

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2

In [25]:
# 4. Create dummy variables of the species name and concatenate onto the iris dataframe.
# (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

iris_encoded = pd.get_dummies(iris['species'], prefix='species', dtype='int')

iris = pd.concat([iris, iris_encoded], axis=1)

In [26]:
# 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

def prep_iris(iris):
    iris = iris.drop(columns=['species_id', 'measurement_id'])
    iris = iris.rename(columns={'species_name': 'species'})
    iris_encoded = pd.get_dummies(iris['species'], prefix='species', dtype='int')
    iris = pd.concat([iris, iris_encoded], axis=1)
    return iris

### Using the Titanic dataset:

In [27]:
# 1. Use the function defined in acquire.py to load the Titanic data.

titanic = a.get_titanic_data()

titanic.shape

(891, 13)

In [28]:
# 2. Drop any unnecessary, unhelpful, or duplicated columns.

# Drop duplicates, if any
titanic = titanic.drop_duplicates()

# Drop columns with too many missing values for now and reassign; check the shape of my data.
titanic = titanic.drop(columns=['deck', 'embarked', 'class', 'age'])

# Run .fillna() on the embark town since it is a majority
titanic['embark_town'] = titanic['embark_town'].fillna(value='Southampton')

titanic.shape

(891, 9)

In [29]:
# 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

dummy_df = pd.get_dummies(titanic[['sex','embark_town']], dummy_na=False, drop_first=True, dtype='int')

titanic = pd.concat([titanic, dummy_df], axis=1)

titanic.head(1)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.25,Southampton,0,1,0,1

In [30]:
# 4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

def prep_titanic(df):
    '''
    This function will drop any duplicate observations, 
    drop ['deck', 'embarked', 'class', 'age'], fill missing embark_town with 'Southampton'
    and create dummy vars from sex and embark_town. 
    '''
    df = df.drop_duplicates()
    df = df.drop(columns=['deck', 'embarked', 'class', 'age'])
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

### Using the Telco dataset:

In [31]:
# 1. Use the function defined in acquire.py to load the Telco data.

telco = a.get_telco_data()

telco.shape

(7043, 27)

In [32]:
telco.dtypes

# Total charges should be a float

customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges                object
churn                        object
contract_type_id              int64
contract_type                object
internet_service_type_id      int64
internet_service_type        object
payment_type_id               int64
payment_type                 object
dtype: object

In [33]:
# 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

# Total charges is an object. Use pd.to_numeric and coerce any errors into 
telco['total_charges'] = pd.to_numeric(telco['total_charges'], errors='coerce')

# Investigate how many and why some are NA. Turns out they have no tenure and have never been charged, most likely due to cancelation or new customers.

# Fill nulls with 0, because they have no tenure
telco['total_charges'] = telco['total_charges'].fillna(0)

In [34]:
# Count the nulls for each column in the df
telco.isna().sum()

# No null values

customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
internet_service_type_id    0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
contract_type_id            0
paperless_billing           0
payment_type_id             0
monthly_charges             0
total_charges               0
churn                       0
contract_type_id            0
contract_type               0
internet_service_type_id    0
internet_service_type       0
payment_type_id             0
payment_type                0
dtype: int64

In [35]:
# Investigate duplicates
telco.loc[telco.duplicated()]

# No duplicates

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service_type_id, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract_type_id, paperless_billing, payment_type_id, monthly_charges, total_charges, churn, contract_type_id, contract_type, internet_service_type_id, internet_service_type, payment_type_id, payment_type]
Index: []

In [36]:
telco.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,Yes,No,Yes,Yes,No,2,Yes,2,65.6,593.30,No,2,One year,1,DSL,2,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,No,No,No,No,Yes,1,No,2,59.9,542.40,No,1,Month-to-month,1,DSL,2,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,No,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes,1,Month-to-month,2,Fiber optic,1,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,Yes,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes,1,Month-to-month,2,Fiber optic,1,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,No,No,Yes,Yes,No,1,Yes,2,83.9,267.40,Yes,1,Month-to-month,2,Fiber optic,2,Mailed check

In [37]:
# Drop columns before cleaning data. So you don't clean data you don't have to.
# Better way to drop lots of columns:

telco.columns # Run this, then copy all of the column names.

# Make a new df, from all of the existing columns, but comment out the ones you don't want.

telco = telco[['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 
       # 'internet_service_type_id', Don't need this, used to merge tables
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 
       # 'contract_type_id', Used to merge tables
       'paperless_billing', 
       # 'payment_type_id', Used to merge tables
       'monthly_charges',
       'total_charges', 'churn', 
       # 'contract_type_id', Used to merge tables. 
       'contract_type',
       # 'internet_service_type_id', Used to merge tables
       'internet_service_type', 
       # 'payment_type_id', Used to merge tables
       'payment_type']]

In [38]:
# Check shape after dropping
telco.shape

(7043, 21)

In [39]:
# Rename some columns to be more logical
telco = telco.rename(columns={'partner': 'married', 'dependents': 'kids'})

telco.head(1)

,customer_id,gender,senior_citizen,married,kids,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check

In [40]:
# Check the nunique to see if the yes/no are just yes/no
telco.nunique()

customer_id              7043
gender                      2
senior_citizen              2
married                     2
kids                        2
tenure                     73
phone_service               2
multiple_lines              3
online_security             3
online_backup               3
device_protection           3
tech_support                3
streaming_tv                3
streaming_movies            3
paperless_billing           2
monthly_charges          1585
total_charges            6531
churn                       2
contract_type               3
internet_service_type       3
payment_type                4
dtype: int64

In [41]:
# Investigate the yes/no columns with 3 values
telco[['multiple_lines', 'online_backup', 'online_security', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies']].value_counts()

multiple_lines    online_backup        online_security      device_protection    tech_support         streaming_tv         streaming_movies
No                No internet service  No internet service  No internet service  No internet service  No internet service  No internet service    1184
                  No                   No                   No                   No                   No                   No                      403
Yes               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service     342
                  No                   No                   No                   No                   No                   No                      210
                  Yes                  Yes                  Yes                  Yes                  Yes                  Yes                     208
                                                                                                                                                  ...
No phone service  Yes                  No                   Yes                  Yes                  No                   Yes                       3
                                                            No                   Yes                  No                   Yes                       3
                                                                                                      Yes                  No                        2
                                       Yes                  Yes                  No                   Yes                  No                        2
                  No                   Yes                  Yes                  No                   Yes                  No                        1
Name: count, Length: 194, dtype: int64

In [42]:
# Members with no phone service are included in the data. I will change those to No, since they do not have multiple_lines.
# Replace all 'Yes' in the multiple lines to 1, all the 'No' and 'No phone service' in the telco to 0
## !!! Make sure to do 'No phone service' before 'No' or it will change it to '0 phone service'
telco['multiple_lines'] = telco['multiple_lines'].replace({'No phone service': 0, 'Yes': 1, 'No': 0})

telco3 = ['online_backup', 'online_security', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies']

telco[telco3] = telco[telco3].replace({'No internet service': 0, 'Yes': 1, 'No': 0})

In [43]:
telco.head()

,customer_id,gender,senior_citizen,married,kids,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,0,0,1,0,1,1,0,Yes,65.6,593.30,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,1,0,0,0,0,0,1,No,59.9,542.40,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,0,0,0,1,0,0,0,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,0,0,1,1,0,1,1,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,0,0,0,0,1,1,0,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check

In [44]:
# Get all the remaining 2 count, yes/no columns
 
telcoyesno = telco[['married', 'kids', 'phone_service', 'paperless_billing', 'churn']]

telcoyesno.value_counts()

#Only yes and no in the counts, change them all at once

telco[['married', 'kids', 'phone_service', 'paperless_billing', 'churn']] = telco[['married', 'kids', 'phone_service', 'paperless_billing', 'churn']].replace({'Yes': 1, 'No': 0})

In [45]:
telco['gender'] = telco['gender'].replace({'Female': 0, 'Male': 1})

In [46]:
telco = telco.rename(columns={'gender': 'is_male'})

In [47]:
telco.head()

,customer_id,is_male,senior_citizen,married,kids,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,0,0,1,1,9,1,0,0,1,0,1,1,0,1,65.6,593.30,0,One year,DSL,Mailed check
1,0003-MKNFE,1,0,0,0,9,1,1,0,0,0,0,0,1,0,59.9,542.40,0,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,1,0,0,0,4,1,0,0,0,1,0,0,0,1,73.9,280.85,1,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,1,1,1,0,13,1,0,0,1,1,0,1,1,1,98.0,1237.85,1,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,0,1,1,0,3,1,0,0,0,0,1,1,0,1,83.9,267.40,1,Month-to-month,Fiber optic,Mailed check

In [48]:
# 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

categorical = ['contract_type', 'internet_service_type', 'payment_type']

dummy_df = pd.get_dummies(telco[categorical], drop_first=True, dtype='int')

In [49]:
dummy_df.sum()

contract_type_One year                  1473
contract_type_Two year                  1695
internet_service_type_Fiber optic       3096
internet_service_type_None              1526
payment_type_Credit card (automatic)    1522
payment_type_Electronic check           2365
payment_type_Mailed check               1612
dtype: int64

In [50]:
telco = pd.concat([telco, dummy_df], axis=1)

In [51]:
telco.head(1)

,customer_id,is_male,senior_citizen,married,kids,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,0,0,1,1,9,1,0,0,1,0,1,1,0,1,65.6,593.3,0,One year,DSL,Mailed check,1,0,0,0,0,0,1

In [59]:
import pandas as pd

def prep_telco(df):
    """
    This function accepts the raw telco data and applies the following transformations:
    - Drops duplicates
    - Converts the 'total_charges' column to a numeric data type
    - Fills null values in 'total_charges' with 0
    - Renames columns 'partner' to 'married' and 'dependents' to 'kids'
    - Replaces all 'Yes' with 1 and 'No' with 0 in the dataframe
    - Changes 'gender' to 'is_male' and drops the 'gender' column
    - Drops columns 'internet_service_type_id', 'payment_type_id', and 'contract_type_id'
    - Creates dummy variables for categorical columns 'contract_type', 'internet_service_type', and 'payment_type'
    
    Parameters:
    -----------
    df : pandas.DataFrame
        The raw telco data
        
    Returns:
    --------
    pandas.DataFrame
        The transformed telco data
    """
    # Total charges is an object. Use pd.to_numeric and coerce any errors into
    df['total_charges'] = pd.to_numeric(df['total_charges'], errors='coerce')

    # Fill nulls with 0, because they have no tenure
    df['total_charges'] = df['total_charges'].fillna(0)

    # Make a new df, from all of the existing columns, but comment out the ones you don't want.
    df = df[['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
             'tenure', 'phone_service', 'multiple_lines', 
             # 'internet_service_type_id', Don't need this, used to merge tables
             'online_security', 'online_backup', 'device_protection', 'tech_support',
             'streaming_tv', 'streaming_movies', 
             # 'contract_type_id', Used to merge tables
             'paperless_billing', 
             # 'payment_type_id', Used to merge tables
             'monthly_charges',
             'total_charges', 'churn', 
             # 'contract_type_id', Used to merge tables. 
             'contract_type',
             # 'internet_service_type_id', Used to merge tables
             'internet_service_type', 
             # 'payment_type_id', Used to merge tables
             'payment_type']]

    df = df.rename(columns={'partner': 'married', 'dependents': 'kids'})

    df['multiple_lines'] = df['multiple_lines'].replace({'No phone service': 0, 'Yes': 1, 'No': 0})

    telco3 = ['online_backup', 'online_security', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies']

    df[telco3] = df[telco3].replace({'No internet service': 0, 'Yes': 1, 'No': 0})

    df[['married', 'kids', 'phone_service', 'paperless_billing', 'churn']] = df[['married', 'kids', 'phone_service', 'paperless_billing', 'churn']].replace({'Yes': 1, 'No': 0})

    df['gender'] = df['gender'].replace({'Female': 0, 'Male': 1})

    df = df.rename(columns={'gender': 'is_male'})

    categorical = ['contract_type', 'internet_service_type', 'payment_type']

    dummy_df = pd.get_dummies(df[categorical], drop_first=True, dtype='int')

    df = pd.concat([df, dummy_df], axis=1)
    
    return df

### Split Data

In [53]:
# 1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

from sklearn.model_selection import train_test_split

def split_data(df, stratify=None):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on a specified variable.
    return train, validate, test DataFrames.
    '''
    train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[stratify])
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate[stratify])
    print(f'Train: {train/df}')
    print(f'Validate: {validate/df}')
    print(f'Test: {test/df}')
    
    return train, validate, test

In [54]:
# 2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

from sklearn.model_selection import train_test_split

def split_data(df, stratify=None):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on a specified variable.
    return train, validate, test DataFrames.
    '''
    train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[stratify])
    train, validate = train_test_split(train_validate, 
                                       test_size=.25, 
                                       random_state=123, 
                                       stratify=train_validate[stratify])
    print(f'Train: {len(train)/len(df)}')
    print(f'Validate: {len(validate)/len(df)}')
    print(f'Test: {len(test)/len(df)}')
    
    return train, validate, test

split_data(iris, 'species')

Train: 0.6
Validate: 0.2
Test: 0.2

(        species  sepal_length  sepal_width  petal_length  petal_width  \
 70   versicolor           5.9          3.2           4.8          1.8
 123   virginica           6.3          2.7           4.9          1.8
 87   versicolor           6.3          2.3           4.4          1.3
 3        setosa           4.6          3.1           1.5          0.2
 15       setosa           5.7          4.4           1.5          0.4
 53   versicolor           5.5          2.3           4.0          1.3
 20       setosa           5.4          3.4           1.7          0.2
 50   versicolor           7.0          3.2           4.7          1.4
 54   versicolor           6.5          2.8           4.6          1.5
 52   versicolor           6.9          3.1           4.9          1.5
 81   versicolor           5.5          2.4           3.7          1.0
 88   versicolor           5.6          3.0           4.1          1.3
 145   virginica           6.7          3.0           5.2          2.3
 130   virginica           7.4          2.8           6.1          1.9
 149   virginica           5.9          3.0           5.1          1.8
 85   versicolor           6.0          3.4           4.5          1.6
 6        setosa           4.6          3.4           1.4          0.3
 31       setosa           5.4          3.4           1.5          0.4
 4        setosa           5.0          3.6           1.4          0.2
 18       setosa           5.7          3.8           1.7          0.3
 92   versicolor           5.8          2.6           4.0          1.2
 74   versicolor           6.4          2.9           4.3          1.3
 139   virginica           6.9          3.1           5.4          2.1
 125   virginica           7.2          3.2           6.0          1.8
 133   virginica           6.3          2.8           5.1          1.5
 100   virginica           6.3          3.3           6.0          2.5
 84   versicolor           5.4          3.0           4.5          1.5
 36       setosa           5.5          3.5           1.3          0.2
 41       setosa           4.5          2.3           1.3          0.3
 91   versicolor           6.1          3.0           4.6          1.4
 108   virginica           6.7          2.5           5.8          1.8
 89   versicolor           5.5          2.5           4.0          1.3
 23       setosa           5.1          3.3           1.7          0.5
 35       setosa           5.0          3.2           1.2          0.2
 137   virginica           6.4          3.1           5.5          1.8
 129   virginica           7.2          3.0           5.8          1.6
 1        setosa           4.9          3.0           1.4          0.2
 16       setosa           5.4          3.9           1.3          0.4
 55   versicolor           5.7          2.8           4.5          1.3
 67   versicolor           5.8          2.7           4.1          1.0
 32       setosa           5.2          4.1           1.5          0.1
 94   versicolor           5.6          2.7           4.2          1.3
 48       setosa           5.3          3.7           1.5          0.2
 25       setosa           5.0          3.0           1.6          0.2
 12       setosa           4.8          3.0           1.4          0.1
 95   versicolor           5.7          3.0           4.2          1.2
 46       setosa           5.1          3.8           1.6          0.2
 43       setosa           5.0          3.5           1.6          0.6
 69   versicolor           5.6          2.5           3.9          1.1
 119   virginica           6.0          2.2           5.0          1.5
 107   virginica           7.3          2.9           6.3          1.8
 140   virginica           6.7          3.1           5.6          2.4
 114   virginica           5.8          2.8           5.1          2.4
 104   virginica           6.5          3.0           5.8          2.2
 61   versicolor           5.9          3.0           4.2          1.5
 26       setosa           5.0          3.4           1.6          0.4
 82   versicolor           5.8          2.7           3.9          1.2
 8        setosa           4.4          2.9           1.4          0.2
 24       setosa           4.8          3.4           1.9          0.2
 51   versicolor           6.4          3.2           4.5          1.5
 115   virginica           6.4          3.2           5.3          2.3
 132   virginica           6.4          2.8           5.6          2.2
 126   virginica           6.2          2.8           4.8          1.8
 128   virginica           6.4          2.8           5.6          2.1
 14       setosa           5.8          4.0           1.2          0.2
 40       setosa           5.0          3.5           1.3          0.3
 59   versicolor           5.2          2.7           3.9          1.4
 109   virginica           7.2          3.6           6.1          2.5
 57   versicolor           4.9          2.4           3.3          1.0
 79   versicolor           5.7          2.6           3.5          1.0
 103   virginica           6.3          2.9           5.6          1.8
 9        setosa           4.9          3.1           1.5          0.1
 7        setosa           5.0          3.4           1.5          0.2
 142   virginica           5.8          2.7           5.1          1.9
 112   virginica           6.8          3.0           5.5          2.1
 73   versicolor           6.1          2.8           4.7          1.2
 83   versicolor           6.0          2.7           5.1          1.6
 111   virginica           6.4          2.7           5.3          1.9
 120   virginica           6.9          3.2           5.7          2.3
 147   virginica           6.5          3.0           5.2          2.0
 131   virginica           7.9          3.8           6.4          2.0
 5        setosa           5.4          3.9           1.7          0.4
 58   versicolor           6.6          2.9           4.6          1.3
 118   virginica           7.7          2.6           6.9          2.3
 141   virginica           6.9          3.1           5.1          2.3
 11       setosa           4.8          3.4           1.6          0.2
 29       setosa           4.7          3.2           1.6          0.2
 96   versicolor           5.7          2.9           4.2          1.3
 44       setosa           5.1          3.8           1.9          0.4
 97   versicolor           6.2          2.9           4.3          1.3

      species_setosa  species_versicolor  species_virginica
 70                0                   1                  0
 123               0                   0                  1
 87                0                   1                  0
 3                 1                   0                  0
 15                1                   0                  0
 53                0                   1                  0
 20                1                   0                  0
 50                0                   1                  0
 54                0                   1                  0
 52                0                   1                  0
 81                0                   1                  0
 88                0                   1                  0
 145               0                   0                  1
 130               0                   0                  1
 149               0                   0                  1
 85                0                   1                  0
 6                 1                   0                  0
 31                1                   0                  0
 4                 1                   0                  0
 18                1                   0                  0
 92                0                   1                  0
 74                0                   1                  0
 139               0                   0                  1
 125               0                   0                  1
 133               0                   0                  1
 100               0                   0                  1
 84                0                   1                  0
 36                1                   0                  0
 41                1                   0                  0
 91                0                   1                  0
 108               0                   0                  1
 89                0                   1                  0
 23                1                   0                  0
 35                1                   0                  0
 137               0                   0                  1
 129               0                   0                  1
 1                 1                   0                  0
 16                1                   0                  0
 55                0                   1                  0
 67                0                   1                  0
 32                1                   0                  0
 94                0                   1                  0
 48                1                   0                  0
 25                1                   0                  0
 12                1                   0                  0
 95                0                   1                  0
 46                1                   0                  0
 43                1                   0                  0
 69                0                   1                  0
 119               0                   0                  1
 107               0                   0                  1
 140               0                   0                  1
 114               0                   0                  1
 104               0                   0                  1
 61                0                   1                  0
 26                1                   0                  0
 82                0                   1                  0
 8                 1                   0                  0
 24                1                   0                  0
 51                0                   1                  0
 115               0                   0                  1
 132               0                   0                  1
 126               0                   0                  1
 128               0                   0                  1
 14                1                   0                  0
 40                1                   0                  0
 59                0                   1                  0
 109               0                   0                  1
 57                0                   1                  0
 79                0                   1                  0
 103               0                   0                  1
 9                 1                   0                  0
 7                 1                   0                  0
 142               0                   0                  1
 112               0                   0                  1
 73                0                   1                  0
 83                0                   1                  0
 111               0                   0                  1
 120               0                   0                  1
 147               0                   0                  1
 131               0                   0                  1
 5                 1                   0                  0
 58                0                   1                  0
 118               0                   0                  1
 141               0                   0                  1
 11                1                   0                  0
 29                1                   0                  0
 96                0                   1                  0
 44                1                   0                  0
 97                0                   1                  0  ,
         species  sepal_length  sepal_width  petal_length  petal_width  \
 124   virginica           6.7          3.3           5.7          2.1
 62   versicolor           6.0          2.2           4.0          1.0
 122   virginica           7.7          2.8           6.7          2.0
 98   versicolor           5.1          2.5           3.0          1.1
 64   versicolor           5.6          2.9           3.6          1.3
 60   versicolor           5.0          2.0           3.5          1.0
 136   virginica           6.3          3.4           5.6          2.4
 39       setosa           5.1          3.4           1.5          0.2
 27       setosa           5.2          3.5           1.5          0.2
 13       setosa           4.3          3.0           1.1          0.1
 99   versicolor           5.7          2.8           4.1          1.3
 90   versicolor           5.5          2.6           4.4          1.2
 121   virginica           5.6          2.8           4.9          2.0
 10       setosa           5.4          3.7           1.5          0.2
 47       setosa           4.6          3.2           1.4          0.2
 143   virginica           6.8          3.2           5.9          2.3
 21       setosa           5.1          3.7           1.5          0.4
 66   versicolor           5.6          3.0           4.5          1.5
 78   versicolor           6.0          2.9           4.5          1.5
 148   virginica           6.2          3.4           5.4          2.3
 113   virginica           5.7          2.5           5.0          2.0
 75   versicolor           6.6          3.0           4.4          1.4
 37       setosa           4.9          3.6           1.4          0.1
 49       setosa           5.0          3.3           1.4          0.2
 134   virginica           6.1          2.6           5.6          1.4
 106   virginica           4.9          2.5           4.5          1.7
 102   virginica           7.1          3.0           5.9          2.1
 71   versicolor           6.1          2.8           4.0          1.3
 30       setosa           4.8          3.1           1.6          0.2
 0        setosa           5.1          3.5           1.4          0.2

      species_setosa  species_versicolor  species_virginica
 124               0                   0                  1
 62                0                   1                  0
 122               0                   0                  1
 98                0                   1                  0
 64                0                   1                  0
 60                0                   1                  0
 136               0                   0                  1
 39                1                   0                  0
 27                1                   0                  0
 13                1                   0                  0
 99                0                   1                  0
 90                0                   1                  0
 121               0                   0                  1
 10                1                   0                  0
 47                1                   0                  0
 143               0                   0                  1
 21                1                   0                  0
 66                0                   1                  0
 78                0                   1                  0
 148               0                   0                  1
 113               0                   0                  1
 75                0                   1                  0
 37                1                   0                  0
 49                1                   0                  0
 134               0                   0                  1
 106               0                   0                  1
 102               0                   0                  1
 71                0                   1                  0
 30                1                   0                  0
 0                 1                   0                  0  ,
         species  sepal_length  sepal_width  petal_length  petal_width  \
 80   versicolor           5.5          2.4           3.8          1.1
 45       setosa           4.8          3.0           1.4          0.3
 144   virginica           6.7          3.3           5.7          2.5
 110   virginica           6.5          3.2           5.1          2.0
 38       setosa           4.4          3.0           1.3          0.2
 2        setosa           4.7          3.2           1.3          0.2
 135   virginica           7.7          3.0           6.1          2.3
 72   versicolor           6.3          2.5           4.9          1.5
 138   virginica           6.0          3.0           4.8          1.8
 34       setosa           4.9          3.1           1.5          0.2
 19       setosa           5.1          3.8           1.5          0.3
 77   versicolor           6.7          3.0           5.0          1.7
 101   virginica           5.8          2.7           5.1          1.9
 63   versicolor           6.1          2.9           4.7          1.4
 117   virginica           7.7          3.8           6.7          2.2
 76   versicolor           6.8          2.8           4.8          1.4
 42       setosa           4.4          3.2           1.3          0.2
 22       setosa           4.6          3.6           1.0          0.2
 28       setosa           5.2          3.4           1.4          0.2
 33       setosa           5.5          4.2           1.4          0.2
 17       setosa           5.1          3.5           1.4          0.3
 116   virginica           6.5          3.0           5.5          1.8
 127   virginica           6.1          3.0           4.9          1.8
 56   versicolor           6.3          3.3           4.7          1.6
 105   virginica           7.6          3.0           6.6          2.1
 146   virginica           6.3          2.5           5.0          1.9
 93   versicolor           5.0          2.3           3.3          1.0
 86   versicolor           6.7          3.1           4.7          1.5
 68   versicolor           6.2          2.2           4.5          1.5
 65   versicolor           6.7          3.1           4.4          1.4

      species_setosa  species_versicolor  species_virginica
 80                0                   1                  0
 45                1                   0                  0
 144               0                   0                  1
 110               0                   0                  1
 38                1                   0                  0
 2                 1                   0                  0
 135               0                   0                  1
 72                0                   1                  0
 138               0                   0                  1
 34                1                   0                  0
 19                1                   0                  0
 77                0                   1                  0
 101               0                   0                  1
 63                0                   1                  0
 117               0                   0                  1
 76                0                   1                  0
 42                1                   0                  0
 22                1                   0                  0
 28                1                   0                  0
 33                1                   0                  0
 17                1                   0                  0
 116               0                   0                  1
 127               0                   0                  1
 56                0                   1                  0
 105               0                   0                  1
 146               0                   0                  1
 93                0                   1                  0
 86                0                   1                  0

In [55]:
# 3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

split_data(titanic, 'survived')

Train: 0.5993265993265994
Validate: 0.19977553310886645
Test: 0.20089786756453423

(     passenger_id  survived  pclass     sex  sibsp  parch      fare  \
 455           455         1       3    male      0      0    7.8958
 380           380         1       1  female      0      0  227.5250
 492           492         0       1    male      0      0   30.5000
 55             55         1       1    male      0      0   35.5000
 243           243         0       3    male      0      0    7.1250
 ..            ...       ...     ...     ...    ...    ...       ...
 695           695         0       2    male      0      0   13.5000
 128           128         1       3  female      1      1   22.3583
 636           636         0       3    male      0      0    7.9250
 222           222         0       3    male      0      0    8.0500
 496           496         1       1  female      1      0   78.2667

      embark_town  alone  sex_male  embark_town_Queenstown  \
 455    Cherbourg      1         1                       0
 380    Cherbourg      1         0                       0
 492  Southampton      1         1                       0
 55   Southampton      1         1                       0
 243  Southampton      1         1                       0
 ..           ...    ...       ...                     ...
 695  Southampton      1         1                       0
 128    Cherbourg      0         0                       0
 636  Southampton      1         1                       0
 222  Southampton      1         1                       0
 496    Cherbourg      0         0                       0

      embark_town_Southampton
 455                        0
 380                        0
 492                        1
 55                         1
 243                        1
 ..                       ...
 695                        1
 128                        0
 636                        1
 222                        1
 496                        0

 [534 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch     fare  \
 176           176         0       3    male      3      1  25.4667
 372           372         0       3    male      0      0   8.0500
 678           678         0       3  female      1      6  46.9000
 778           778         0       3    male      0      0   7.7375
 463           463         0       2    male      0      0  13.0000
 ..            ...       ...     ...     ...    ...    ...      ...
 622           622         1       3    male      1      1  15.7417
 302           302         0       3    male      0      0   0.0000
 518           518         1       2  female      1      0  26.0000
 765           765         1       1  female      1      0  77.9583
 837           837         0       3    male      0      0   8.0500

      embark_town  alone  sex_male  embark_town_Queenstown  \
 176  Southampton      0         1                       0
 372  Southampton      1         1                       0
 678  Southampton      0         0                       0
 778   Queenstown      1         1                       1
 463  Southampton      1         1                       0
 ..           ...    ...       ...                     ...
 622    Cherbourg      0         1                       0
 302  Southampton      1         1                       0
 518  Southampton      0         0                       0
 765  Southampton      0         0                       0
 837  Southampton      1         1                       0

      embark_town_Southampton
 176                        1
 372                        1
 678                        1
 778                        0
 463                        1
 ..                       ...
 622                        0
 302                        1
 518                        1
 765                        1
 837                        1

 [178 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch      fare  \
 561           561         0       3    male      0      0    7.8958
 641           641         1       1  female      0      0   69.3000
 400           400         1       3    male      0      0    7.9250
 498           498         0       1  female      1      2  151.5500
 875           875         1       3  female      0      0    7.2250
 ..            ...       ...     ...     ...    ...    ...       ...
 339           339         0       1    male      0      0   35.5000
 841           841         0       2    male      0      0   10.5000
 442           442         0       3    male      1      0    7.7750
 815           815         0       1    male      0      0    0.0000
 53             53         1       2  female      1      0   26.0000

      embark_town  alone  sex_male  embark_town_Queenstown  \
 561  Southampton      1         1                       0
 641    Cherbourg      1         0                       0
 400  Southampton      1         1                       0
 498  Southampton      0         0                       0
 875    Cherbourg      1         0                       0
 ..           ...    ...       ...                     ...
 339  Southampton      1         1                       0
 841  Southampton      1         1                       0
 442  Southampton      0         1                       0
 815  Southampton      1         1                       0
 53   Southampton      0         0                       0

      embark_town_Southampton
 561                        1
 641                        0
 400                        1
 498                        1
 875                        0
 ..                       ...
 339                        1
 841                        1
 442                        1
 815                        1
 53                         1

 [179 rows x 12 columns])

In [56]:
# 4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

split_data(telco, 'internet_service_type')

Train: 0.5998864120403238
Validate: 0.20005679397983814
Test: 0.20005679397983814

(     customer_id  is_male  senior_citizen  married  kids  tenure  \
 4385  6179-GJPSO        0               1        0     0      43
 3928  5529-GIBVH        0               0        0     0      47
 5489  7727-SHVZV        0               0        0     0       9
 2959  4227-OJHAL        0               0        1     1      68
 5320  7516-GMHUV        1               1        1     0      50
 ...          ...      ...             ...      ...   ...     ...
 2577  3682-YEUWS        1               0        1     1      10
 6244  8824-RWFXJ        1               0        1     1       3
 4617  6508-NJYRO        1               0        1     0      15
 1158  1702-CCFNJ        1               0        1     0      52
 2219  3174-RKMOW        1               0        1     1      35

       phone_service  multiple_lines  online_security  online_backup  \
 4385              1               0                1              1
 3928              1               0                0              0
 5489              1               0                0              0
 2959              1               1                1              1
 5320              1               1                1              0
 ...             ...             ...              ...            ...
 2577              1               1                0              0
 6244              1               0                0              1
 4617              1               0                0              0
 1158              1               1                0              1
 2219              1               1                0              1

       device_protection  tech_support  streaming_tv  streaming_movies  \
 4385                  0             1             1                 1
 3928                  0             0             0                 0
 5489                  0             0             0                 0
 2959                  1             0             1                 0
 5320                  1             0             1                 1
 ...                 ...           ...           ...               ...
 2577                  0             0             0                 0
 6244                  1             0             0                 0
 4617                  0             0             0                 0
 1158                  0             1             0                 0
 2219                  1             1             1                 1

       paperless_billing  monthly_charges  total_charges  churn  \
 4385                  1           108.15        4600.70      1
 3928                  0            20.15        1046.20      0
 5489                  0            19.50         150.35      0
 2959                  1            73.00        5163.00      0
 5320                  1           105.05        5163.30      0
 ...                 ...              ...            ...    ...
 2577                  1            24.40         253.90      0
 6244                  1            56.15         168.15      1
 4617                  0            18.80         294.95      0
 1158                  0            61.35        3169.55      0
 2219                  1           109.95        3782.40      0

        contract_type internet_service_type               payment_type  \
 4385  Month-to-month           Fiber optic    Credit card (automatic)
 3928        Two year                  None               Mailed check
 5489  Month-to-month                  None  Bank transfer (automatic)
 2959        One year                   DSL    Credit card (automatic)
 5320        Two year           Fiber optic    Credit card (automatic)
 ...              ...                   ...                        ...
 2577  Month-to-month                  None               Mailed check
 6244  Month-to-month                   DSL               Mailed check
 4617        One year                  None               Mailed check
 1158  Month-to-month                   DSL  Bank transfer (automatic)
 2219  Month-to-month           Fiber optic           Electronic check

       contract_type_One year  contract_type_Two year  \
 4385                       0                       0
 3928                       0                       1
 5489                       0                       0
 2959                       1                       0
 5320                       0                       1
 ...                      ...                     ...
 2577                       0                       0
 6244                       0                       0
 4617                       1                       0
 1158                       0                       0
 2219                       0                       0

       internet_service_type_Fiber optic  internet_service_type_None  \
 4385                                  1                           0
 3928                                  0                           1
 5489                                  0                           1
 2959                                  0                           0
 5320                                  1                           0
 ...                                 ...                         ...
 2577                                  0                           1
 6244                                  0                           0
 4617                                  0                           1
 1158                                  0                           0
 2219                                  1                           0

       payment_type_Credit card (automatic)  payment_type_Electronic check  \
 4385                                     1                              0
 3928                                     0                              0
 5489                                     0                              0
 2959                                     1                              0
 5320                                     1                              0
 ...                                    ...                            ...
 2577                                     0                              0
 6244                                     0                              0
 4617                                     0                              0
 1158                                     0                              0
 2219                                     0                              1

       payment_type_Mailed check
 4385                          0
 3928                          1
 5489                          0
 2959                          0
 5320                          0
 ...                         ...
 2577                          1
 6244                          1
 4617                          1
 1158                          0
 2219                          0

 [4225 rows x 28 columns],
      customer_id  is_male  senior_citizen  married  kids  tenure  \
 864   1257-SXUXQ        1               0        1     1       5
 6294  8904-OPDCK        1               1        1     0      54
 6051  8573-CGOCC        1               0        0     0      16
 6682  9498-FIMXL        0               0        0     0       8
 2008  2897-DOVND        1               0        0     0       2
 ...          ...      ...             ...      ...   ...     ...
 2802  3985-HOYPM        1               0        0     0      26
 1346  2002-MZHWP        0               0        0     0       1
 6208  8779-YIQQA        1               0        1     1      21
 6947  9851-KIELU        1               0        0     0      10
 292   0430-IHCDJ        1               0        0     0      15

       phone_service  multiple_lines  online_security  online_backup  \
 864               1               0                0              0
 6294              0               0                0              0
 6051              1               0                0              0
 6682              1               0                0              0
 2008              1               0                0              0
 ...             ...             ...              ...            ...
 2802              1               0                0              0
 1346              1               0                0              0
 6208              1               0                0              0
 6947              1               0                1              1
 292               1               1                0              0

       device_protection  tech_support  streaming_tv  streaming_movies  \
 864                   0             0             0                 0
 6294                  0             0             0                 0
 6051                  0             0             0                 0
 6682                  0             0             0                 0
 2008                  0             0             0                 0
 ...                 ...           ...           ...               ...
 2802                  0             0             0                 0
 1346                  0             0             0                 0
 6208                  0             0             0                 0
 6947                  1             1             1                 1
 292                   0             0             0                 0

       paperless_billing  monthly_charges  total_charges  churn  \
 864                   0            19.45          86.05      0
 6294                  1            24.95        1364.75      0
 6051                  0            19.75         294.90      0
 6682                  1            19.20         161.95      0
 2008                  1            69.80         146.65      0
 ...                 ...              ...            ...    ...
 2802                  0            19.40         525.55      0
 1346                  0            20.50          20.50      1
 6208                  0            19.80         350.10      0
 6947                  1           110.10        1043.30      1
 292                   1            49.00         749.25      0

        contract_type internet_service_type               payment_type  \
 864   Month-to-month                  None               Mailed check
 6294  Month-to-month                   DSL  Bank transfer (automatic)
 6051  Month-to-month                  None    Credit card (automatic)
 6682        One year                  None               Mailed check
 2008  Month-to-month           Fiber optic           Electronic check
 ...              ...                   ...                        ...
 2802        One year                  None               Mailed check
 1346  Month-to-month                  None               Mailed check
 6208        One year                  None               Mailed check
 6947  Month-to-month           Fiber optic           Electronic check
 292   Month-to-month                   DSL           Electronic check

       contract_type_One year  contract_type_Two year  \
 864                        0                       0
 6294                       0                       0
 6051                       0                       0
 6682                       1                       0
 2008                       0                       0
 ...                      ...                     ...
 2802                       1                       0
 1346                       0                       0
 6208                       1                       0
 6947                       0                       0
 292                        0                       0

       internet_service_type_Fiber optic  internet_service_type_None  \
 864                                   0                           1
 6294                                  0                           0
 6051                                  0                           1
 6682                                  0                           1
 2008                                  1                           0
 ...                                 ...                         ...
 2802                                  0                           1
 1346                                  0                           1
 6208                                  0                           1
 6947                                  1                           0
 292                                   0                           0

       payment_type_Credit card (automatic)  payment_type_Electronic check  \
 864                                      0                              0
 6294                                     0                              0
 6051                                     1                              0
 6682                                     0                              0
 2008                                     0                              1
 ...                                    ...                            ...
 2802                                     0                              0
 1346                                     0                              0
 6208                                     0                              0
 6947                                     0                              1
 292                                      0                              1

       payment_type_Mailed check
 864                           1
 6294                          0
 6051                          0
 6682                          1
 2008                          0
 ...                         ...
 2802                          1
 1346                          1
 6208                          1
 6947                          0
 292                           0

 [1409 rows x 28 columns],
      customer_id  is_male  senior_citizen  married  kids  tenure  \
 6770  9614-RMGHA        1               0        1     0      65
 1869  2716-GFZOR        1               0        1     0      43
 6792  9639-BUJXT        1               0        0     0      63
 1857  2692-PFYTJ        0               0        0     0       1
 1250  1849-RJYIG        0               0        0     0       8
 ...          ...      ...             ...      ...   ...     ...
 2143  3074-GQWYX        1               0        0     0       5
 6452  9135-HSWOC        1               0        1     1      64
 2040  2933-FILNV        0               0        1     1       2
 6176  8741-LQOBK        0               0        1     1      46
 2977  4255-DDUOU        0               0        1     1       1

       phone_service  multiple_lines  online_security  online_backup  \
 6770              1               1                0              1
 1869              1               0                1              1
 6792              1               0                0              0
 1857              1               1                0              0
 1250              1               0                1              0
 ...             ...             ...              ...            ...
 2143              1               1                0              0
 6452              1               0                0              0
 2040              0               0                0              0
 6176              0               0                1              1
 2977              1               0                0              0

       device_protection  tech_support  streaming_tv  streaming_movies  \
 6770                  0             0             1                 0
 1869                  1             0             0                 0
 6792                  0             0             0                 0
 1857                  0             0             0                 0
 1250                  0             0             1                 0
 ...                 ...           ...           ...               ...
 2143                  0             0             0                 0
 6452                  0             0             0                 0
 2040                  0             0             0                 0
 6176                  0             0             0                 0
 2977                  0             0             0                 0

       paperless_billing  monthly_charges  total_charges  churn  \
 6770                  1            91.85        5940.85      1
 1869                  1            86.10        3551.65      0
 6792                  0            20.50        1328.15      0
 1857                  1            25.75          25.75      0
 1250                  1            60.00         487.75      0
 ...                 ...              ...            ...    ...
 2143                  1            75.90         357.75      1
 6452                  1            19.70        1274.05      0
 2040                  1            24.40          36.55      1
 6176                  0            35.05        1620.25      0
 2977                  1            20.50          20.50      1

        contract_type internet_service_type               payment_type  \
 6770  Month-to-month           Fiber optic  Bank transfer (automatic)
 1869  Month-to-month           Fiber optic    Credit card (automatic)
 6792        One year                  None               Mailed check
 1857  Month-to-month                  None               Mailed check
 1250  Month-to-month                   DSL           Electronic check
 ...              ...                   ...                        ...
 2143  Month-to-month           Fiber optic  Bank transfer (automatic)
 6452        Two year                  None  Bank transfer (automatic)
 2040  Month-to-month                   DSL               Mailed check
 6176  Month-to-month                   DSL  Bank transfer (automatic)
 2977  Month-to-month                  None               Mailed check

       contract_type_One year  contract_type_Two year  \
 6770                       0                       0
 1869                       0                       0
 6792                       1                       0
 1857                       0                       0
 1250                       0                       0
 ...                      ...                     ...
 2143                       0                       0
 6452                       0                       1
 2040                       0                       0
 6176                       0                       0
 2977                       0                       0

       internet_service_type_Fiber optic  internet_service_type_None  \
 6770                                  1                           0
 1869                                  1                           0
 6792                                  0                           1
 1857                                  0                           1
 1250                                  0                           0
 ...                                 ...                         ...
 2143                                  1                           0
 6452                                  0                           1
 2040                                  0                           0
 6176                                  0                           0
 2977                                  0                           1

       payment_type_Credit card (automatic)  payment_type_Electronic check  \
 6770                                     0                              0
 1869                                     1                              0
 6792                                     0                              0
 1857                                     0                              0
 1250                                     0                              1
 ...                                    ...                            ...

# Notes

In [57]:
import pandas as pd

In your data acquisition function, first check to see if the csv file exists. If it does, read from the csv file, otherwise get the data "fresh".

```python
import os

def get_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # Create the engine
        engine = create_engine(get_connection('titanic_db'))

        # Read the SQL query into a dataframe
        df = pd.read_sql(text('SELECT * FROM passengers'), engine.connect())

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_file(filename)

        # Return the dataframe to the calling code
        return df  
```